@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media only screen and (max-width: 991px) {
    .body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    section {
        height: 99%;
    }

    #img {
        width: 50vw;
        margin: 0;

    }

    aside {
        width: 80% !important;
        height: 100%;

    }

    .banner {
        width: 20vw;
        height: 100vh;

    }
}


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    flex-direction: row;
}

body {
    overflow: hidden;
}


aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: #4F5AF1;
}

.img-title {
    width: 50%;
}

.column-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

img {
    max-height: 100vh;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%
}

input {
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    background-color: #4F5AF1;
    height: 36px;
    width: 100%;
}

::placeholder {
    color: white;
    padding: 10px;
}

.btn {
    width: 105%;
    height: 45px;
    border-radius: 20px;
    margin-top: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    background-color: aliceblue;
    color: black;
}

.btn:hover {
    transition: 1.8s;
    background-color: #504F60;
    color: white;
}

.click-here {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: azure;
}